#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  width: 100vw;
  margin: auto 0;
  left:0;
  right:0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.headerh1 {
  size: 1em;
  line-height: 1.1;
}

.appDiv {
  display: flex;
  align-items: center;
}