.collegeCheck {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.jobInputDiv {
    position: relative;
    border: 1px solid black;
    padding: 1em;
}

.jobInputDiv > input, label {
    display: block;
}

textarea {
    resize: none;
}

.deleteIcon {
    position: absolute;
    bottom:0px;
    right:0px;
    width: 1.8em;
    height: 1.8em;
    pointer-events: all;
}

.deleteIcon:hover {
    cursor: pointer;
}