.dataOverview {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.dataOverviewList {
    list-style: none;
    padding: 0;
}

.dataOverviewDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.overviewHeader {
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
    font-weight: 700;
}

.overviewSubHeader {
    width: 80%;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid #1F51FF;
    border-top: 1px solid #1F51FF;
    padding: 0.5rem 0;
}

.createResumeBtn {
    width: 10rem;
}

.createResumeBtnDiv {
    border-top: 1px solid #1F51FF;
    padding-top: 1rem;
    margin: 0 2rem;
}

.boldText {
    font-weight: 500;
}